<div class="container">
  <h2>Listagem de Alunos</h2>

  <!-- Pesquisa -->
  <div class="form-group">
    <input
      type="text"
      placeholder="Pesquisar por nome ou email"
      [(ngModel)]="termoPesquisa"
      (input)="searchAlunos()"
    />
  </div>

  <!-- Tabela de Alunos -->
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>E-mail</th>
        <th>Celular</th>
        <th>Curso</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let aluno of alunos">
        <td>{{ aluno.nomeCompleto }}</td>
        <td>{{ aluno.cpf }}</td>
        <td>{{ aluno.email }}</td>
        <td>{{ aluno.celular }}</td>
        <td>{{ aluno.curso }}</td>
        <td class="actions">
          <button class="edit" (click)="editarAluno(aluno.id)">Editar</button>
          <button class="delete" (click)="excluirAluno(aluno.id)">
            Excluir
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
